<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        .container{
            margin:auto;
            width:50%;
            padding:30px;
            background:#e2e2e2;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 data-th-text="${name}">Welcome to homepage.</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate eius, minima neque officia omnis
        quibusdam rerum tempore ut voluptatibus. Alias beatae consectetur delectus eos iusto magnam nostrum quasi
        voluptatem! </p>
</div>
</body>
</html>