<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> This is Services Page</h1>
<hr />
<div th:insert="~{base :: parent(~{:: #main_content})}">
    <section id="main_content">
        <h2> This is Main Content Dynamic Content for Services </h2>
    </section>
    <section id="second_content">
        <h2> This is Second Content Dynamic Content for Services </h2>
    </section>
</div>
</body>
</html>